<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--private Integer binId;
    private String binName;
    private Integer binAdminId;
    private String binTips;
    private String binAddressId;-->
<mapper namespace="cn.edu.zzuli.purchasesalestock.Mapper.BinMapper">

    <resultMap id="bin" type="cn.edu.zzuli.purchasesalestock.bean.Bin">
        <id property="binId" column="bin_id"></id>
        <result property="binName" column="bin_name"></result>
        <result property="binAdminId" column="bin_admin_id"></result>
        <result property="binTips" column="bin_tips"></result>
        <result property="binAddressId" column="bin_address_id"></result>
    </resultMap>

    <!--    public List<Bin> getBins();-->
    <select id="getBins" resultMap="bin">
        SELECT bin_id,bin_name,bin_admin_id,bin_tips,
        bin_address_id FROM bin
    </select>


</mapper>