<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--private Integer binId;
    private String binName;
    private Integer binAdminId;
    private String binTips;
    private String binAddressId;-->
<mapper namespace="cn.edu.zzuli.purchasesalestock.Mapper.BinMapper">

    <resultMap id="bin" type="cn.edu.zzuli.purchasesalestock.bean.Bin">
        <id property="binId" column="bin_id"></id>
        <result property="binName" column="bin_name"></result>
        <result property="binAdminId" column="bin_admin_id"></result>
        <result property="binTips" column="bin_tips"></result>
        <result property="binAddressId" column="bin_address_id"></result>
    </resultMap>

    <!--    public List<Bin> getBins();-->
    <select id="getBins" resultMap="bin">
        SELECT bin_id,bin_name,bin_admin_id,bin_tips,
        bin_address_id FROM bin
    </select>

    <!--  boolean addBin(Bin bin);   -->
    <insert id="addBin" parameterType="cn.edu.zzuli.purchasesalestock.bean.Bin"
            useGeneratedKeys="true" keyProperty="binId" >
        INSERT INTO  `bin`
        (bin_name,bin_admin_id,bin_tips,bin_address_id)
        VALUES
        (#{binName},#{binAdminId},#{binTips},#{binAddressId})
    </insert>

    <!--  int getGoodsCounts(Map<String, Object> info);  -->
    <sql id="getCounts">
          SELECT  goods_counts  FROM `goodsInformation`
          <where>

              <if test="goodsId!=null">
                  goods_id=#{goodsId}
              </if>
              <if test="goodsChName!=null">
                  AND goods_chName=#{goodsChName}
              </if>
              <if test="goodsPinyin!=null">
                  AND  goods_pinyin=#{goodsPinyin}
              </if>
              <if test="goodsTrivialName!=null">
                  AND  goods_trivialName=#{goodsTrivialName}
              </if>
              <if test="goodsEnName!=null">
                  AND  goods_enName=#{goodsEnName}
              </if>
          </where>
    </sql>
    <select id="getGoodsCounts" resultType="Integer">
        <include refid="getCounts"></include>
    </select>

    <select id="GoodsInfoInBinById" resultType="java.util.Map">
        SELECT g.goods_id goodsId, g.goods_counts goodsCount FROM goodsInformation g
        WHERE goods_bin = #{binId} AND g.goods_id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>
</mapper>