<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--private Integer binId;
    private String binName;
    private Integer binNo;
    private String binAdmin;
    private String binAdminPhone;
    private String binTips;-->
<mapper namespace="cn.edu.zzuli.purchasesalestock.Mapper.BinMapper">

    <resultMap id="bin" type="cn.edu.zzuli.purchasesalestock.bean.Bin">
        <id property="binId" column="bin_id"></id>
        <result property="binName" column="bin_name"></result>
        <result property="binNo" column="bin_no"></result>
        <result property="binAdmin" column="bin_admin"></result>
        <result property="binAdminPhone" column="bin_admin_phone"></result>
        <result property="binTips" column="bin_tips"></result>
    </resultMap>

    <!--    public List<Bin> getBins();-->
    <select id="getBins" resultMap="bin">
        SELECT bin_id,bin_name,bin_no,bin_admin,
        bin_admin_phone,bin_tips FROM bin
    </select>


</mapper>