<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zzuli.purchasesalestock.Mapper.CustomerMapper">

    <!-- 简单的字段映射 -->
    <resultMap id="customer" type="cn.edu.zzuli.purchasesalestock.bean.Customer">
        <id property="customerId" column="customer_id"></id>
        <result property="customerName" column="customer_name"></result>
        <result property="customerGradle" column="customer_gradle"></result>
        <result property="customerRecord" column="customer_record"></result>
        <result property="customerMentor" column="customer_mentor"></result>
        <result property="customerCollege" column="customer_college"></result>
        <result property="customerInstitute" column="customer_institute"></result>
        <result property="customerPayForm" column="customer_pay_form"></result>
        <result property="customerNo" column="customer_no"></result>
        <result property="customerSpell" column="customer_spell"></result>
        <result property="customerLocation" column="customer_location"></result>
        <result property="customerLocationStandby1" column="customer_location_standby1"></result>
        <result property="customerLocationStandby2" column="customer_location_standby2"></result>
        <result property="customerTelphone" column="customer_telphone"></result>
        <result property="customerCompany" column="customer_company"></result>
        <result property="customerWarehouse" column="customer_warehouse"></result>
        <result property="customerInviter" column="customer_inviter"></result>
    </resultMap>

    <!-- 添加成员所用的方法 -->
    <insert id="saveCustomer">
        insert into
        customer
        (customer_name, customer_gradle, customer_record, customer_mentor, customer_college, customer_institute, customer_pay_form,
          customer_no, customer_spell, customer_location, customer_location_standby1, customer_location_standby2, customer_telphone,
          customer_company, customer_warehouse, customer_inviter)
        values (#{customerName}, #{customerGradle}, #{customerRecord}, #{customerMentor}, #{customerCollege}, #{customerInstitute}, #{customerPayForm},
          #{customerNo}, #{customerSpell}, #{customerLocation}, #{customerLocationStandby1}, #{customerLocationStandby2}, #{customerTelphone},
          #{customerCompany}, #{customerWarehouse}, #{customerInviter});
    </insert>


    <select id="selectById" resultMap="customer">
        select * from
        customer
        where customer_id = #{id}
    </select>

    <select id="selectNumber" resultType="Integer">
        select COUNT(*) FROM
        customer
    </select>

    <select id="selectByNo" resultMap="customer">
        select * from
        customer
        where customer_no = #{no}
    </select>


</mapper>