<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  allocationId; allocationEId; allocationOrderId;
allocationStatus; allocationFromId; allocationToId; allocationCreateTime; allocationEndTime-->
<mapper namespace="cn.edu.zzuli.purchasesalestock.Mapper.GoodsAllocationMapper">

    <resultMap id="allocation" type="cn.edu.zzuli.purchasesalestock.bean.GoodsAllocation">
        <id property="allocationId" column="allocation_id"></id>
        <result property="allocationEId" column="allocation_eId"></result>
        <result property="allocationOrderId" column="allocation_order_id"></result>
        <result property="allocationStatus" column="allocation_status"></result>
        <result property="allocationFromId" column="allocation_fromId"></result>
        <result property="allocationToId" column="allocation_toId"></result>
        <result property="allocationCreateTime" column="allocation_createTIme"></result>
        <result property="allocationEndTime" column="allocation_endTime"></result>
        <association property="goods" resultMap="cn.edu.zzuli.purchasesalestock.Mapper.GoodsMapper.goods"></association>
    </resultMap>

    <!--  List<GoodsAllocation> getAllocations(); -->
    <select id="getAllocations" resultMap="allocation">
        SELECT * FROM goods_allocation a
        JOIN orderitems o
        ON o.item_order_id = a.allocation_order_id
        JOIN goodsInformation g
        ON g.goods_id = o.item_goods_id
        <where>
            a.allocation_fromId = #{allocationFromId}

            <if test="allocationStatus != null">
                AND allocation_status = #{allocationStatus}
            </if>
            <if test="allocationToId != null">
                AND allocation_toId = #{allocationToId}
            </if>
             <if test="allocationCreateTime != null">
                AND allocation_createTIme <![CDATA[ >= ]]> #{allocationCreateTime}
            </if>
             <if test="allocationEndTime != null">
                AND allocation_endTime <![CDATA[ <= ]]> #{allocationEndTime}
            </if>
        </where>

    </select>

</mapper>