#index-content{
    /* 对index首页的content进行最低高度限制默认出现滚动条，从而可以出发滚动流加载 */
    min-height: 110vh;
}

/* 重写layui flow流加载的下拉加载按钮样式 */
.layui-flow-more a cite{
    padding: 0 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    /* color: #333; */
    box-shadow: 0px 0px 20px #e5dfdf;
    letter-spacing: 2px;
    background-color: #ffffff;
    font-style: normal;
}
.goods{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 0px 10px;
    margin-top: 10px;
}

.card-box{
    flex-basis: 25%;
    margin: 30px 0px;
}



.card{
    display: inline-block;
    /* flex-basis: 23%; */
    width: 230px;
    margin: 5px 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* height: 285px; */
    overflow: hidden;
    border-radius: 12px;
    transition-duration: 0.5s;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 10px #f0f0f0;
}

.card:hover{
    box-shadow: 0px 0px 20px gray;
}



.card  img{
    width: 100%;
    height: 80%;
    /* 设置图片无法被选中 */
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}
.card .good-name,
.card .good-price{
    color: #393D49;
    /* margin-left: 10px; */
    margin: 10px;
    display: flex;
}
.card .good-name{
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card .good-price{
    font-size: 18px;
}

.card .good-name span,
.card .good-price span{
    flex-basis: 50%;
    text-align: center;
}

.layui-flow-more{
    width: 100vw;
}

/* ipad端goods显示空缺问题修复 */
@media only screen and (max-width:950px) and (min-width:500px) {

    .goods{
        justify-content: left;
    }
    .card-box{
        flex-basis: 33.3%;
    }

}

/* 手机端商品卡片显示 */
@media only screen and (max-width:500px) {

    .card-box{
        flex-basis: 45%;
        margin: 5px 0px;
    }
    .card{
        width: unset;
    }

    .card:hover{
        box-shadow: none;
    }
}