<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <block th:fragment="header">
        <div class="layui-header nav-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <a href="http://www.layui.com/admin/" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item refresh" lay-unselect="">
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search"
                           layadmin-event="serach" lay-action="template/search/keywords=">
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;"> <cite>贤心</cite> <span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child user-info">
                        <dd><a lay-href="set/user/info">基本资料</a></dd>
                        <dd><a lay-href="set/user/password">修改密码</a></dd>
                        <hr>
                        <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <a href="javascript:;" layadmin-event="about"><i
                            class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                lay-filter="layadmin-system-side-menu">
                <div class="layui-logo"><i class="layui-icon layui-icon-home layui-hide"></i><span>layuiAdmin
							Pro</span></div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" lay-filter="layadmin-system-side-menu">
                    <li data-name="" data-jump="" class="layui-nav-item layui-nav-itemed"><a href="javascript:;"
                                                                                             lay-tips="主页"
                                                                                             lay-direction="2"> <i
                            class="layui-icon layui-icon-home"></i>
                        <cite>主页</cite> <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd data-name="" data-jump="/" class="layui-this"><a href="javascript:;"
                                                                                 lay-href="/">控制台</a></dd>
                            <dd data-name="homepage1" data-jump="home/homepage1"><a href="javascript:;"
                                                                                    lay-href="home/homepage1">主页一</a>
                            </dd>
                            <dd data-name="homepage2" data-jump="home/homepage2"><a href="javascript:;"
                                                                                    lay-href="home/homepage2">主页二</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </ul>
        </div>
    </block>

    <block th:fragment="pagination">
        <div class="pagination">
            <div class="pagination-wrap">
                <div class="pagination-content">
                    <div class="total-num">
                        共<span></span>条
                    </div>
                    <div class="num-carousel">
                        <div class="carousel-wrap">
                            <a class="numContent"></a>
                            <a class="leftArrow">&lt;</a>
                            <a class="rightArrow">&gt;</a>
                        </div>
                    </div>
                    <div class="jump">
                        到<input name="pageNum"/>页
                        <button class="jumpBtn">确定</button>
                    </div>
                    <div class="num-select">
                        <select>
                            <option value="5">5 条/页</option>
                            <option value="10" selected>10 条/页</option>
                            <option value="20">20 条/页</option>
                            <option value="30">30 条/页</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </block>
</body>
</html>